{% extends 'base.html.twig' %}

{% block body %}
	<div style="overflow:hidden;padding-bottom:40%;position:relative;height:0;">
		<iframe style="left:0;top:0;height:100%;width:100%;position:absolute;"src="https://www.google.com/maps/d/u/1/embed?mid=zbFCyfNKO_Mw.k6A69hFG8jWM" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
	</div>
{% endblock %}